.togglePill{
    display: inline-block;
    cursor: pointer;
    justify-content: center;
}

.toggleSlider{
    width: 3rem;
    height: 1.5rem;
    background-color: #141C1E;
    border-radius: 9999px;
    position: relative;
    transition: background-color 0.5s ease-in-out;
    justify-content: center;
}

.toggleSlider::after{
    content: '';
    position: absolute;
    left: 9%;
    bottom: 7%;
    width: 1.25rem;
    height: 1.25rem;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

:global(.peer):checked + .toggleSlider{
    background-color: rgb(145, 133, 133);
}

:global(.peer):checked + .toggleSlider::after{
    transform: translateX(1.3rem);
}
